{% extends "website/base.html" %}

{% block title %}O projektu{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/style3.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700" rel="stylesheet">
{% endblock %}

{% block content_unauth %}

    {% block content_auth %}

        <div align="center" style="padding-top:30px;">
            <a href="http://www.zsbila.cz" target="_blank"><img class="zsbila-logo" src="/static/images/zsbila-logo.jpg"/></a>
            <a href="https://earthkam.org" target="_blank"><img class="earthkam-logo" src="/static/images/earthkam.png"/></a>
        </div>
        <br>

        <p class="popis3">O Projektu</p>

        <p class="popis">
            V únoru se nám naskytla příležitost nechat si udělat fotky naší planety z vesmíru,<br/>
            konkrétně z Mezinárodní vesmírné stanice v rámci projektu Sally Ride EarthKAM.<br/>
            <br/>
            Z kamery připevněné na stanici jsme získali téměř 80 snímků a další budou přibývat.<br/>
            Když nám všechny přišly, museli jsme vymyslet, co s nimi.<br/>

            Napadlo nás vytvořit interaktivní mapu, ve které si každý bude moct sám<br/>
            zvolit, jakou fotku chce vidět.<br/>
            <br/>
            K těm opravdu povedeným obrázkům jsme vytvořili<br/>
            i informační kartu, na které si lze přečíst, co přesně je
            na obrázku vidět. <br/>
            Celkem je v interaktivní mapě {{ markers_count }} obrázků.
            <br/>
        </p>
        <br/>
        <p class="popis">Autoři webových stránek: <b>Vítek Peterka, 9.A, Kryštof Svoboda, 9.A</b></p>
        <p class="popis">Pomáhali nám: <b>Mikuláš Smoleň, 9.A, Levi Crossan, 9.A, Oliver Morgan, 9.A</b></p>

        <br>

        <p class="popis">Tato žákovská práce vznikla díky projektu:</p>
        <p class="popis2">Zvýšení kvality vzdělávání žáků, rozvoje klíčových kompetencí, oblastí vzdělávání a
            gramotností <br>reg.
            č. CZ.02.3.68/0.0/0.0/16_011/0000664</p>

        <div align="center">
            <a href="https://opvvv.msmt.cz/default.aspx" target="_blank"><img src="/static/images/eu-logo.png"></a>
            <a href="http://pages.pedf.cuni.cz/sc25/" target="_blank"><img src="/static/images/sp-logo.png"></a>
        </div>
    {% endblock %}

    <div align="center" style="padding-bottom: 10px;">
        <a href="/" class="zpet">Zpět na mapu</a>
    </div>
{% endblock %}
