<title>O Projektu</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/style2.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700" rel="stylesheet">

<div class="topmenu">
    <a href="/"><h2 class="nadpis2">EarthKAM</h2></a>
    <a href="/admin" class="index-odkaz">Přihlásit</a>
    <a href="/" class="index-odkaz2">Mapa</a>
</div>

<h1 class="nadpis">O Projektu</h1>

<br>
<p class="popis">
    V únoru se nám naskytla příležitost nechat si udělat fotky naší planety z vesmíru,<br />
    konkrétně z Mezinárodní vesmírné stanice v rámci projektu Sally Ride EarthKAM.<br />
    <br />
    Z kamery připevněné na stanici jsme získali téměř 80 snímků a další budou přibývat.<br />
    Když nám všechny přišly, museli jsme vymyslet, co s nimi.<br />
    <br />
    Napadlo nás vytvořit interaktivní mapu, ve které si každý bude moct sám<br />
    zvolit, jakou fotku chce vidět. <br />
</p>
<br />
<p class="autori">Autoři webových stránek: <strong>Kryštof Svoboda, 8.A</strong>, &nbsp&nbsp<strong>Vítek Peterka, 8.A</strong></p>
<p class="autori">Pomáhali nám: <strong>Mikuláš Smoleň, 8.A</strong>, &nbsp&nbsp<strong>Levi Crossan, 8.A</strong>, &nbsp&nbsp<strong>Oliver Morgan, 8.A</strong></p>
<a href="http://www.zsbila.cz"><img class="zsbila-logo" src="/static/images/zsbila-logo.jpg" /></a>
<a href="https://earthkam.org"><img class="earthkam-logo" src="/static/images/earthkam-logo.jpg" /></a>