{% extends "website/base.html" %}

{% block title %}GMT{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700" rel="stylesheet">
    <link rel="icon" href="static/images/zsbila-favicon.ico" type="image/x-icon"/>
{% endblock %}

{% block content_unauth %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block content_auth %}
        <div class="gmt-oprojektu-content">
            <div class="loga">
                <a href="http://www.zsbila.cz" target="_blank"><img class="zsbila-logo2"
                                                                    src="/static/images/zsbila-logo.png"/></a>
                <a href="http://earthkam.org" target="_blank"><img class="earthkam-logo"
                                                                   src="/static/images/earthkam-logo2.png"/></a>
            </div>
            <p class="popis3">GMT - Greenwiche Mean Time</p>
                <p class="popis">
                    Ve chvíli, kdy zadáváme požadavek ISS na pořízení fotografie <br>
                    vybraného místa na Zemi, je moudré zvážit i čas, ve kterém se ISS <br>
                    nad uvedenou oblastí nachází. Časné ranní a pozdní večerní snímky nebývají optimálně
                    osvětlené světlem přicházejícím ze Slunce. V případě pohoří je neosvětlená <br>
                    strana výrazně tmavá, za určitých okolností může dojít i k totálnímu odrazu. <br>
                    Pro vysvětlení některých barevných odchylek je velmi vhodné znát místní čas v době pořízení snímku. <br>
                    ISS uvádí čas ve formátu GMT rok/pořadový den v roce/čas. S využitím níže uvedené mapy časových
                    pásem snadno zjistíme, v kolik hodin místního času bude či byl snímek pořízen.
                    Znalost místního času je často jedním z předpokladů nejen zdařílého pořizování snímků,
                    ale jejich úspěšné identifikace.
                    <br>
                    <br>

                    Mapa časových pásem:
                    <a href="https://en.wikipedia.org/wiki/Greenwich_Mean_Time#/media/File:Standard_World_Time_Zones.png"><img
                            src="/static/images/Standard_World_Time_Zones.png" class="img-gmt"></a>
                    Bližší informace k rozdílu mezi GMT a UTC (Coordinated Universal Time, světový čas) lze získat <a
                        href="https://cs.wikipedia.org/wiki/Koordinovan%C3%BD_sv%C4%9Btov%C3%BD_%C4%8Das"
                        target="_blank">zde</a>.
                </p>
            </div>
        <br/>

    {% endblock %}
{% endblock %}
