{% extends "website/base.html" %}

{% block title %}ZŠ Bílá - EarthKAM{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,300i,400,400i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    {% load l10n %}
    <script>
        function initMap() {
            const mapOptions = {
                center: new google.maps.LatLng(0, 0),
                zoom: 2,
                mapTypeControl: false,
                streetViewControl: false,
                zoomControl: true,
                fullscreenControl: false
            };
            const map = new google.maps.Map(document.getElementById("map"), mapOptions);
            let lastinfo = false;
            {% for marker in markers %}
                const content{{ marker.pk }} =
                    '<div id="mapCont"><img id="mapImg" src="{{ marker.image }}"/>' +
                    '<div id="mapTitle">{{ marker.name }}</div>' +
                    '<div id="mapDescription">{{ marker.description }}</div>' +
                    {% if marker.infocard != "" %}
                        '<a href="{{ marker.fullImage }}" id="button-zde" target="_blank">Větší zobrazení</a>' +
                        '<a href="{{ marker.infocard }}" id="button-zde2" target="_blank">Bližší informace</a></div>';
                    {% else %}
                        '<div id="button-zde3-container"><a href="{{ marker.fullImage }}" id="button-zde3" target="_blank" align="center">Větší zobrazení</a></div></div>';
                    {% endif %}
                const infowindow{{ marker.pk }} = new google.maps.InfoWindow();
                infowindow{{ marker.pk }}.setContent(content{{ marker.pk }});
                const marker{{ marker.pk }} = new google.maps.Marker({

                    {% if marker.infocard == "" %}
                        icon: "/static/images/blue-marker.png",
                        shape: {type: "poly", coords: [13.5, 0, 4, 3.75, 0, 13.5, 13.5, 43, 27, 13.5, 23, 3.75]},
                    {% endif %}

                    position: new google.maps.LatLng({{marker.lat|unlocalize}}, {{marker.long|unlocalize}}),
                    map: map,

                    title: "{{ marker.name }}",
                });
                google.maps.event.addListener(marker{{ marker.pk }}, 'click', function () {
                    if (lastinfo){
                        lastinfo.close()
                    }
                    lastinfo = infowindow{{ marker.pk }};
                    infowindow{{ marker.pk }}.open(map, this);
                });
            {% endfor %}
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb7mFGeTZf45S7ziRQqAQsD5NX_U5aoUQ&callback=initMap"
            async defer></script>
{% endblock %}

{% block content_unauth %}
    <div class="map-box2">
        <div class="map" id="map"></div>
    </div>
{% endblock %}

{% block content_auth %}
    <div class="map-box">
        <div class="map" id="map"></div>
    </div>
{% endblock %}
