{% extends "website/base.html" %}

{% block title %}ZŠ Bílá - EarthKAM{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,300i,400,400i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    {% load l10n %}
    <script>
        function initMap() {
            let mapOptions = {
                center: new google.maps.LatLng(0, 0),
                zoom: 2,
                mapTypeControl: false,
                streetViewControl: false,
                zoomControl: true,
                fullscreenControl: false
            };
            let map = new google.maps.Map(document.getElementById("map"), mapOptions);
            let infowindow = new google.maps.InfoWindow({
                content: " "
            });
            let myLatlng, marker;
            {% for marker in markers %}
                myLatlng = new google.maps.LatLng({{marker.lat|unlocalize}}, {{marker.long|unlocalize}});
                marker = new google.maps.Marker({
                    {% if marker.infocard == "" %}
                        icon: "/static/images/blue-marker.png",
                    {% endif %}
                    position: myLatlng,
                    map: map,
                    title: "{{ marker.name }}",
                    img: "{{ marker.image }}",
                    fullImg: "{{ marker.fullImage }}",
                    description: "{{ marker.description }}",
                    infocard: "{{ marker.infocard }}"
                });
                google.maps.event.addListener(marker, 'click', function () {
                    if (this.infocard !== "") {
                        infowindow.setContent(
                            '<div id="mapCont"><img id="mapImg" src="' + this.img + '"/>' +
                            '<div id="mapTitle">' + this.title + '</div>' +
                            '<div id="mapDescription">' + this.description + '</div>' +
                            '<a href="' + this.fullImg + '" id="button-zde" target="_blank">Větší zobrazení</a>' +
                            '<a href="' + this.infocard + '" id="button-zde2" target="_blank">Bližší informace</a></div>');
                    } else {
                        infowindow.setContent(
                            '<div id="mapCont"><img id="mapImg" src="' + this.img + '"/>' +
                            '<div id="mapTitle">' + this.title + '</div>' +
                            '<div id="mapDescription">' + this.description + '</div>' +
                            '<div id="button-zde3-container"><a href="' + this.fullImg + '" id="button-zde3" target="_blank" align="center">Větší zobrazení</a></div></div>');
                    }
                    infowindow.open(map, this);
                });
            {% endfor %}
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAb7mFGeTZf45S7ziRQqAQsD5NX_U5aoUQ&callback=initMap"
            async defer></script>
{% endblock %}

{% block content_unauth %}
    <div class="map-box2">
        <div class="map" id="map"></div>
    </div>
{% endblock %}

{% block content_auth %}
    <div class="map-box">
        <div class="map" id="map"></div>
    </div>
{% endblock %}
