<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seznam bodů</title>
</head>
<body>
{% for marker in markers %}
    <b>{{ marker.name }}</b>
    <a href="/admin/marker/{{ marker.pk }}/edit">upravit</a>
    <a href="/admin/marker/{{ marker.pk }}/delete">smazat</a>
    <a href="/admin/marker/{{ marker.pk }}/info">informace</a>
    <br>
{% endfor %}
<br>
<a href="/admin/marker/new/edit">nový bod</a>
<a href="/">zpět na mapu</a>
<a href="/admin/logout">odhlásit se</a>
</body>
</html>