html, body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}
.topmenu {
    width: 100%;
    height: 50px;
    background-color: #fff;
    z-index:1;
}

.index-odkaz {
    font-family: 'Roboto', sans-serif;
    color: #20323b;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    margin-left: 25px;
    float: left;
    margin-top: 7px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.index-odkaz2 {
    font-family: 'Roboto', sans-serif;
    color: #20323b;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.nadpis2 {
    font-family: 'Roboto', sans-serif;
    color: #20323b;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    margin-top: 11px;
    margin-left: 20px;
    float: left;
}

.nadpis {
    text-decoration: none;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #20323b;
    text-align: center;
    margin-top: 18px;
    text-transform: uppercase;
    padding-top: 1px;
}

.popis {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #20323b;
    text-align: center;
    word-spacing: 2px;
    line-height: 30px;
}

.popis2 {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #20323b;
    text-align: center;
    word-spacing: 2px;
    line-height: 25px;
}

.autori {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #20323b;
    text-align: center;
}


.zsbila-logo {
    width: 75px;
    height: auto;
    margin-top: 0px;
}

.earthkam-logo {
    width: auto;
    height: 75px;
    margin-top: -15px;
}

.button {
    width: 100px;
    height: 20px;
    border: 1px solid #006080;
    padding: 12px 12px;
}

.zpet {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #006080;
    text-align: center;
    word-spacing: 2px;
    border: 2px solid #006080;
    padding: 9px 30px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 2px;
    margin-bottom: 50px;
}

.zpet:hover {
    color: #fff;
    background-color: #006080;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}