html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    word-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}

/* Layout */

/* Sidebar */

.sidebar1 {
    background-color: #fff;
    position: fixed;
    left: 0;
    overflow: auto;
    height: 100%;
    display: block;
    width: 255px;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
}

.render-body {
    width: calc(100% - 255px);
    min-height: 100%;
    right: 0;
    position: absolute;
}

.sidebar1-titlebox {
    max-width: 100%;
    height: 23%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-size: cover;
    padding: 70px 15px 74px 15px;
    background: url(/static/images/earthfromspace.jpg) no-repeat;
    background-position: center;
}

.sidebar1-title {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;

}

.sidebar1-userbox {
    height: 90px;
    width: 100%;
    background-color: #006080;
    padding-top: 20px;
}

.sidebar1-userbox-inner {
    width: 100%;
}

.sidebar1-username1 {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    margin-left: 25px;
    width: 100%;
    text-decoration: none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.sidebar1-username2 {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    margin-left: 25px;
    width: 100%;
    text-decoration: none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.sidebar1-username2:hover {
    color: #20323b;
}

.sidebar2 {
    width: 215px;
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    position: fixed;
}

.sidebar2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

.sidebar2 li {
    float: left;
}

.sidebar2 li a {
    display: block;
    width: 193px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #20323b;
    padding: 12px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.sidebar2 li a:hover {
    margin-left: 20px;
    text-decoration: none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #006080;
}

.sidebar2 .zsbila-logo {
    width: 67px;
    height: auto;
}

.sidebar2 .earthkam-logo {
    width: 79px;
    height: auto;
    margin-right: 20px;
}

/* End of Sidebar */

/* End of Layout*/

/* Login Form */

.limiter {
    width: 100%;
    margin: 0 auto;
    background-color: #000;
}

.login-container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #ebeeef;
}

.login-container-2 {
    width: 600px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    min-height: 600px;
}

.login-container-3 {
    width: 600px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    min-height: 250px;
}

.login-title-form {
    width: 100%;
    height: 25%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 15px 74px 15px;
}

.login-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-top: 25px;
}

.login-title-form::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 88px 93px 190px;
}

.input-form {
    width: 50%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
    margin-top: 16px;
    margin-left: 200px;
}

.input-form2 {
    width: 50%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.label-input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    word-spacing: 2px;
    color: #808080;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    margin-left: -470px;
    margin-top: 6px;
    width: 150px;
}

.label2 {
    margin-top: -8px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0)
and (min-resolution: .001dpcm) {
    .label-input {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        word-spacing: 2px;
        color: #808080;
        line-height: 1.2;
        text-align: right;
        position: absolute;
        margin-left: -170px;
        margin-top: -21px;
        width: 150px;
    }
}

.input {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    width: 100%;
    display: block;
    background: transparent;
    padding: 0 50px;
}

#id_username {
    width: 100%;
    text-align: center;
}

#id_password {
    width: 100%;
    text-align: center;
}

.text-danger {
    text-align: center;
    margin-top: 10px;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    background: #57b846;
}

input.input {
    height: 45px;
}

.input:focus + .focus-input::before {
    width: 100%;
}

.has-val.input + .focus-input::before {
    width: 100%;
}

input {
    outline: none;
    border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}

label {
    display: block;
    margin: 0;
}

.container-login-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.login-form-btn {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #20323b;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-top: -20px;
}

.login-form-btn2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #006699;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    color: #006699;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-top: 32px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.login-form-btn2:hover {
    background-color: #006699;
    color: #fff;
}

.login-form-btn:hover {
    background-color: #006699;
}

.forgot-link {
    margin-top: -35px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #20323b;
    margin-left: 210px;
    float: left;
}

.forgot-link2 {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #20323b;
    margin-left: 35px;
    float: left;
    margin-top: 30px;
}

.forgot-link3 {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #20323b;
    float: left;
    margin-top: 30px;
}

.forgot-link3:hover {
    color: #20323b;
}

.forgot-link2:hover {
    color: #20323b;
}

.forgot-link:hover {
    color: #20323b;
}

#delete {
    margin-left: 35px;
}

.dd-text {
    margin-left: 10px;
}

@media (max-width: 576px) {
    .login-form {
        padding: 43px 15px 57px 117px;
    }
}

@media (max-width: 480px) {
    .login-form {
        padding: 43px 15px 57px 15px;
    }

    .label-input {
        text-align: left;
        position: unset;
        top: unset;
        left: unset;
        width: 100%;
        padding: 0 5px;
    }
}

input {
    outline: none;
    border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}

label {
    display: block;
    margin: 0;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
    margin-top: 40px;
}

button:hover {
    cursor: pointer;
}

/*End of Login Form*/

/* Table */

.table-out {
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
    margin-top: 75px;
    min-width: 755px;
}

.table-header {
    width: 100%;
    height: 54px;
    min-width: 500px;
}

.create-btn {
    background-color: #006080;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 17px;
    font-weight: 300;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
    width: 100%;
}

.create-btn:hover {
    background-color: #006080;
    color: #ffffff;
}

.table-in {
    width: 100%;
    height: 115px;
    border-bottom: 1px solid #bfbfbf;
    min-width: 755px;
}

.table-img-1 {
    width: auto;
    height: 100px;
    margin-left: 20px
}

.table-img {
    width: auto;
    height: 75px;
    margin-top: 15px

}

.table-text-1 {
    width: 200px;
    margin-left: 160px;
    border-right: 1px solid #bfbfbf;
    margin-top: -70px;
    min-width: 200px;
}

.table-text-2 {
    width: 200px;
    margin-left: 375px;
    margin-top: -55px;
    min-width: 250px;
}

.title {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #20323b;
}

.description {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #20323b;
}

.lat {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #20323b;
}

.lng {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #20323b;
}

.table-control {
    margin-top: -65px;
    margin-right: 50px;
    float: right;
    min-width: 60px;
    max-width: 60px;
}

.table-control2 {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #20323b;
    float: left;
}

.table-control2:hover {
    color: #006080;
}

/* End of Table */

/* Map */

.topmenu {
    width: 100%;
    height: 55px;
    background-color: #fff;
    z-index: 1;
    -webkit-box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.32);
    box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.32);
}

.index-odkaz {
    font-family: 'Poppins', sans-serif;
    color: #20323b;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    margin-left: 25px;
    float: left;
    margin-top: 7px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.index-odkaz2 {
    font-family: 'Poppins', sans-serif;
    color: #20323b;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    float: left;
    margin-top: 7px;
    margin-left: 0px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.index-odkaz:hover {
    color: #fff;
    background-color: #006080;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.index-odkaz2:hover {
    color: #fff;
    background-color: #006080;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.nadpis {
    font-family: 'Poppins', sans-serif;
    color: #20323b;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    margin-top: 11px;
    margin-left: 20px;
    float: left;
}

.map-box {
    width: 100%;
    height: 100%;
    right: 0;
    position: absolute;
}

.map-box2 {
    width: 100%;
    height: calc(100% - 55px);
    right: 0;
    position: absolute;
}

.map {
    height: 100%;
}

#mapCont {
    max-width: 300px;
    max-height: 375px;
}

#mapImg {
    width: 100%;
    height: auto;
}

#mapTitle {
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #20323b;
    letter-spacing: 1px;
    margin-top: 2px;
    padding-bottom: 0px;
    text-align: center;
}

#mapDescription {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #20323b;
    letter-spacing: 1px;
    margin-top: 0px;
    text-align: center;
}

#mapOdkaz {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-style: italic;
    color: #2f6bd7;

}

#button-zde {
    font-family: 'Poppins', sans-serif;
    color: #006080;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    margin-left: 13px;
    float: left;
    margin-top: 5px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border: 1px solid #006080;
    border-radius: 2px;
}

#button-zde2 {
    font-family: 'Poppins', sans-serif;
    color: #006080;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    float: right;
    margin-top: 5px;
    margin-right: 13px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border: 1px solid #006080;
    border-radius: 2px;
}

#button-zde3 {
    font-family: 'Poppins', sans-serif;
    color: #006080;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    margin-left: 13px;
    margin-top: 5px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border: 1px solid #006080;
    border-radius: 2px;
    display: inline-block;
}

#button-zde3-container {
    text-align: center;
}

#button-zde3:hover {
    color: #fff;
    background-color: #006080;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#button-zde:hover {
    color: #fff;
    background-color: #006080;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#button-zde2:hover {
    color: #fff;
    background-color: #006080;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

/* End of Map */

/* Media rules */

/* End of Media rules */

.h3-actions {
    font-size: 22px;
    text-align: center;
    margin-top: 15px;
}

.info-text {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
}

/* o projektu a gmt */

.popis {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #20323b;
    text-align: center;
    word-spacing: 2px;
    line-height: 30px;
}

.popis2 {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #20323b;
    text-align: center;
    word-spacing: 2px;
    line-height: 25px;
}

.popis3 {
    text-decoration: none;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #20323b;
    text-align: center;
    word-spacing: 2px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 25px;
}

.popis-gmt {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #20323b;
    word-spacing: 2px;
    line-height: 30px;
}

.nadpis-gmt {
    text-decoration: none;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #20323b;
    text-align: center;
    word-spacing: 2px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 25px;
}

.content-block {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.img-gmt {
    width: 100%;
}

.autori {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #20323b;
    text-align: center;
}

.zsbila-logo2 {
    width: 120px;
    height: 120px;
    float: left;
    margin-left: 25px;
}

.earthkam-logo {
    width: 140px;
    height: 120px;
    float: right;
    margin-right: 25px;
}

.nadpis-loga {
    width: 1050px;
}

.gmt-oprojektu-content {
    width: 1050px;
    margin: auto;
}

.zpet {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #006080;
    text-align: center;
    word-spacing: 2px;
    border: 2px solid #006080;
    padding: 9px 30px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 2px;
    margin-bottom: 50px;
}

.zpet:hover {
    color: #fff;
    background-color: #006080;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
