<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500" rel="stylesheet">
</head>

<body>
<div class="login-container">
    <div class="login-container-2">
        <div class="login-title-form" style="background-image: url(/static/images/earthfromspace.jpg);">
                    <span class="login-title">
                        Přihlásit se
                    </span>
        </div>
        {% if form.errors %}
            <p class="text-danger validation-summary-errors">Uživatelské jméno a heslo se neshodují.</p>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="login-form validate-form">
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
            </div>
            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>
</div>

</body>
</html>


