{#TODO: Fix me!#}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="limiter">
    <div class="login-container">
        <div class="login-container-3">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="input-form2 validate-input m-b-26">
                    {#  {{ form.username.label_tag }}  #}
                    {{ form.username }}
                    <span class="text-danger"></span>
                    <span class="label-input">Jméno</span>
                </div>

                <div class="input-form2 validate-input m-b-26" >
                    {#  {{ form.password.label_tag }}  #}
                    {{ form.password }}
                    <span class="text-danger"></span>
                    <span class="label-input">Heslo</span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div class="container-login-form-btn">
                        <button class="login-form-btn2" type="submit">
                            Přihlásit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>


